*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;    
    background-color: rgb(31, 26, 34);
    /* color: rgb(92, 77, 92); */
}